In [1]:
import pandas as pd

In [16]:
df_original = pd.read_csv('C:\\Users\\josep\\OneDrive\\Desktop\\Portfolio Projects\\Used Car Analysis\\craigslist_used_cars.csv')

In [17]:
df_original.shape

(426880, 26)

In [18]:
df_original.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [19]:
df_original.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [20]:
len(df_original)

426880

In [11]:
split_size = len(df_original) // 15
split_size

28458

In [12]:
for i in range(0, len(df_original), split_size):
    df_subset = df_original.iloc[i:i + split_size]
    df_subset.to_csv(f'craigslist_used_cars_part_{i // split_size + 1}.csv', index=False)

In [14]:
import os

# Set the directory where your split files are located
directory = 'C:\\Users\\josep\\OneDrive\\Desktop\\Portfolio Projects\\Used Car Analysis'  # Replace with the path to your split files

# Initialize a variable to keep track of the total row count
total_rows = 0

# Iterate through all files in the directory
for filename in os.listdir(directory):
    if filename.startswith("craigslist_used_cars_part_") and filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)
        total_rows += len(df)

Total rows in all split files: 426880

In [21]:
print("Total rows in all split files:", total_rows)
print("Total rows in original file:", len(df_original))

Total rows in all split files: 426880
Total rows in original file: 426880